#comment indicator is #. 
#put \# for patterns that include #
#each line is a pattern. space doesn't count
#* matches everything except /
#** even matches /
/**/.DS_Store
/**/.ipynb_checkpoints
/ignore/**
/Happier-Passengers/ignore
/Happier-Passengers/.git
/Happier-Passengers/.gitignore
/.vscode
/27.2.2\ Ultimate\ Technologies\ Inc.\ Take-Home Challenge/ignore/**
